* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --type-first: Helvetica, Arial, sans-serif;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}
body {
  font-family: var(--type-first);
  color: #333;
}
